<% provide(:title, "Results ") %><br>
<div class="center jumbotron text-center">
<br><br><div class="center">
	<table class="center" style="width:100%">
	  <tr>
        <th>Anchor Text</th>
        <th class="text-right">External Link</th>
      </tr>
		<%= my(@hash).html_safe %>
	</table>
	</div>
	
</div>